*{margin: 0}

:root{
	--borde:#0D25BA;
}

body{
	font-family: Arial;
	background: rgb(0,255,110);
background: linear-gradient(90deg, rgba(0,255,110,1) 0%, rgba(0,255,251,1) 35%, rgba(0,151,255,1) 100%);
}


/*Formulario*/
.contenedor-principal{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
	/*Form*/
	.contenedor-principal > form{
		width: 400px;
		height: 400px;
		border: 2px solid var(--borde);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: #837e7e26;
		backdrop-filter: blur(10px);
	}

	/*titulo*/
	.til-log{
		margin-bottom: 30px;
	}

	/*Inputs*/
	.cont-input{
		display: block;
		text-align: left;
		margin-bottom: 15px;
	}

	.cont2{
		margin-left: -30px;
	}

	input{
		height: 30px;
		border: none;
		text-align: center;
		border-bottom: 2px solid var(--borde);
		border-left: 1px solid var(--borde);
	}

	.btn-enviar{
		width: 200px;
		height: 30px;
		background: black;
		color: white;
		border: none;
		border-radius: 10px;
		margin-top: 50px;
	}


